.select-style {
    border: 1px solid #ccc;
    width: 200px;
    border-radius: 3px;
    overflow: hidden;
    font-size: 20px;
    background: #fafafa  no-repeat 90% 50%;
    text-align: center;
  }
  
  .select-style select {
    padding: 5px 8px;
    width: 130%;
    font-size: 20px;
    border: none;
    box-shadow: none;
    background: rgb(179, 194, 156);
    background-image: none;
    -webkit-appearance: none;
  }
  
  .select-style select:focus {
    outline: none;
  }
  
  .select-style option{
    font-size: 20px;
  }
  
  
  .customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  .customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .customers tr:nth-child(even){background-color: #f2f2f2;}
  
  .customers tr:hover {background-color: #ddd;}
  
  .customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: grey;
    color: white;
  }
  
  button {
    background-color: grey;
    width: 140px;
    height: 35px;
    font-size: 16px;
  }
  
  input{
    width: 170px;
    height: 30px;
    font-size: 16px;
    margin-right: 10px;
  }
  label{
    margin-left: 40px;
    margin-right: 10px;
  }